html, body {
  height: 100%
}

body {
  padding: 0 0 6px;
  margin: 0;
  box-sizing: border-box;
  background: rgba(95, 158, 160, 1);
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
}

#console {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.base-panel {
  background:#111;
  box-shadow: 0 6px 3px #000;
  border-radius: 9px;
  border-bottom: 2px solid rgba(255,255,255,0.1);
  text-align: center;
  padding: 20px 20px 105px; 
  height: 100%;
  box-sizing: border-box;
}

.lcd-panel {
  text-align: center;
  box-shadow: inset 0 0 8px #000;
  border-radius: 2px;
  background: #91B49C;
  color: rgba(0,0,0,0.7);
  font-family: monospace;
  font-size: 3em;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  height: 100%;
}

.button {
  background: #cc4;
  width: 78px;
  height: 78px;
  box-sizing: border-box;
  border-radius: 100px;
  box-shadow: 0 4px 4px #663;
  border-bottom: 2px solid #ee6;
}

.active .button {
  position: relative;
  top: 3px;
  box-shadow: 0 2px 3px #883;
}

.left-button {
  position: absolute;
  left: 10px;
  bottom: 20px;
}

.right-button {
  position: absolute;
  right: 10px;
  bottom: 20px;
}
