@font-face {
  font-family: lcd;
  src: url('fonts/LCDM2N__.ttf');
}

.lcd-panel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: none;
}

.lcd-panel img.on {
  display: block;
}

.lcd-panel .text {
  font-family: lcd;
  position: absolute;
  top: 10px;
  right: 10px;
}
